body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}



.content {
    width: 80%;
    text-align: center;
}


.navbar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    background-color: #19b540;
    position: fixed; 
    left: 0; 
    right:0; 
    top: 0; 
    width: 100%;
    z-index: 1000; 


}



.navbar li {
    margin: 0 15px;
    position: relative;
    margin-top: 4px; 
}

.navbar a {
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}













.popup-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
    text-align: left;
    z-index: 1000;
}

.popup-menu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.popup-menu a:hover {
    background-color: #f2f2f2;
}



.content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px; /* Дава място под навбара */
        justify-content: flex-start;
    }
    .search-box { 
        background: #efefef; 
        width: 350px; 
        border-radius: 20px; 
        display: flex; 
        align-items: center; 
        padding: 0 15px;
    }
    
    
    .search-box img{
        width: 40px; 
    }
    
    .search-box input{
        width: 100%; 
        background: transparent; 
        padding: 10px; 
        outline: none; 
        border:0;
    }







    